body {
    background-color: rgb(230, 218, 218);
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 655px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
    width: 80%;
    height: auto;
    background-color: #fff;
    overflow-y: scroll;
}

.content>form {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    height: auto;
    margin-bottom: 57px;
}

.content>form>input {
    width: 505px;
    border-radius: 5px;
    padding: 10px;
}

.content>form>label {
    font-size: 23px;
}

.content>form>textarea {
    width: 520px;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: blue;
}

.content>.blog-list {
    display: block;
    margin-top: 60px;
    width: 100%;
}

.content>.blog-list>.blog-post>ul>li>.post>.votes {
    display: inline-flex;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    margin-top: -10px;
}

.content>.blog-list>.blog-post>ul>li>.post>.votes>.icon {
    cursor: pointer;
    width: 100%;
    block-size: 36px;
}

.content>.blog-list>.blog-post>ul>li>.post>.votes>.icon> {
    cursor: pointer;
    text-align: center;
}

.content>.blog-list>.blog-post>ul>li>.post>.votes>.icon>span>img {
    cursor: pointer;
    width: 18px;
    position: relative;
}

/* .content>.blog-list>.blog-post>ul>li:hover {
    background-color:#efe;
} */

.content>.blog-list>.blog-post>ul>li>.post>.votes>.downvote:hover,
.upvote:hover {
    color: green;
}

.content>.blog-list>.blog-post>ul>li>.post>.votes>.upvote {
    padding: 10px;
}

.content>.blog-list>.blog-post>ul>li>.post>.votes>.downvote {
    padding: 10px;
}

/* .content>.blog-list>.blog-post>ul>li>div>.question {
    padding: 10px;
    text-align: left;
    text-decoration: none;
    font-size: 25px;
    width: 100%;
} */

.content>.blog-list>.blog-post>ul>li>div>.question {
    font-size: 20px;
    padding: 10px;
}

.content>button {
    width: 120px;
    height: 40px;
}

.content>.posts {
    width: 60%;
}

.content>.posts>ul>li:hover {
    background-color: antiquewhite;
}

.content>div>ul>li>div {
    display: inline-flex;
    padding: 10px;
    text-decoration: none;
}

.content>div>ul>li>div>div {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    width: 40px;
}

.content>div>ul>li>div>.question {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    width: 100%;
}

.content>div>ul>li>div>div:hover {
    color: green;
    cursor: pointer;
}

.content>div>ul {
    list-style-type: none;
}

.content>.posts>div>h1 {
    text-align: left;
    margin-left: 20px;
}

.content>.posts>div {
    margin: 26px;
    display: inline-flex;
}

.content>.posts>div>button {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin: 10px 50px;
    cursor: pointer;
}

.content>form>button {
    background-color: #4CAF50;
    border: none;
    width: 20%;
    height: 7%;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.content>div>.profile-form {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-left: 40px;
}

.content>div>h2 {
    text-align: center;
    font-size: 30px;
}

.content>div>.profile-form>div {
    font-size: 18px;
    padding: 10px;
}

.content>div>.profile-form>div>input {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(127, 136, 255);
}

footer>h5 {
    margin-left: 60px;
}

button {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

/*****/

* {
    box-sizing: border-box
}

/* Add padding to containers */




/* Full-width input fields */

.container-pro {
    width: 80%;
    height: auto;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
}

#profile-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 100px;
}
form>.propic {
    display: flex;
    flex-direction: column;
    flex:1;
    width: 100%;
    margin-top:-80px;
}

form>.propic>textarea {
width:71%;
height:380px;
border:1px solid green;
border-style: double;
border-radius: 5px;
}

form>.propic>button{
    width: 70%;
    height:70px;
}

/* #title {
    display: flex;
    flex-direction: row;
    flex:12;
    width: 100%;
    background-color: #4CAF50;
} */



form>.contain {
    flex: 1;
    justify-content:flex-start;
}
label {
    margin: 5px 10px 5px 0;
}


.contain>div>.label {
    margin: 5px 0 15px 0;
    padding: 10px;
    background: rgb(160, 162, 165);
    color: white;
    display: block;
    width:150px;
    text-align: center;
    text-decoration: none;
}

.contain>div{
    display: inline-flex;
    width:100%;
}



input[type=email],
input[type=text],
input[type=password] {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 19px 15px 0;
    border: none;
    background: #f1f1f1;
    font-size:15px;
    width:300px;
}

input[type=email]:focus,
input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
/* 
form>.propic>hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
    width:60%;
} */

/* Set a style for the submit/register button */

.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */

a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */

.signin {
    background-color: #f1f1f1;
    text-align: center;
}

.column {
    float: left;
    width: 200px;
    height:200px;
    padding: 5px;
}
        /* <div id="title"><h1>Edit your profile</h1><hr><p>Public information</p></div> */