body {
    background-color: rgb(230, 218, 218);
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 659px;
    background-image: url(../img/1.png);
}

.container>.text {
    padding: 0 15px 20px 15px;
    height: 150px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: rgba(88, 16, 183, 0.3)
}

.text>h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.form {
    margin: 100px 0 0 200px;
    border-radius: 10px;
    width: 440px;
    height: 400px;
    background-color: rgb(88, 16, 183);
    padding: 0 0 0 15px;
}

.form>h1 {
    text-align: center;
    margin-left: 18px;
}

.form>form {
    margin: 50px 0 0 0;
}

#name {
    margin-left: 44px;
}

#email {
    margin-left: 100px;
}

#password {
    margin-left: 72px;
}

#cpassword {
    margin-left: 12px;
}

input {
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}

#sign {
    background-color: #4CAF50;
    width:100px;
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin: 4px 150px;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: row;
    background-color:rgb(127, 136, 255);
}

footer>h5 {
    margin-left: 60px;
}

