
body{
    background-color:rgb(230, 218, 218);
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 657px;
    /**background-image: url(../img/1.png);**/
    background-color: rgb(248, 243, 243);
}

.container>.text {
    padding: 0 15px 20px 15px;
    margin: 45px 0px 0 0px;
}

.container > .text > img{
    height:350px;
    width:600px;
}

.container > .form{
    margin: 80px 0 0 200px;
    border-radius: 10px;
    width: 380px;
    height: 330px;
    background-color: rgba(88, 16, 183,0.6);
    padding: 0 0 0 25px;
}

.container > .form > h1{
    text-align: center;
    margin-left: 18px;
}

.container > .form > form {
    margin: 50px 0 0 0;
}
.container > .form > form > div > h6 > a{
    color:#fff;
    margin:0 50px 0 0;
    margin-top:-70px;
    float:right;
    text-decoration-line: none;
}

.container > .form > form > div > input {
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}

.container>.form>form>div {
    margin-bottom: 10px;
}
.container > .form > form > div > #email-field{
    margin-left:60px;
}
.container>.form>form>div>#password-field {
    margin-left: 32px;
}

#sign {
    background-color: #4CAF50;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin: 4px 110px;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: row;
    background-color:rgb(127, 136, 255);
}

footer>h5 {
    margin-left: 60px;
}
