header {
    display: flex;
    flex-direction: row;
    background-color: rgb(82, 90, 102);
}

header>h2 {
    margin-left: 60px;
}

header>form {
    display: flex;
    margin-top: 14px;
    margin-left: 20px;
    height: 40px;
}

header>.top-buttons {
    display: inline-flex;
    flex: 1;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;
    /**background-image: url(../img/1.png);**/
    background-color: rgb(255, 255, 255);
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container>.text {
    padding: 0 15px 20px 15px;
    margin: 45px 0px 0 0px;
    
    
}


.form {
    margin: 80px 0 0 200px;
    border-radius: 10px;
    width: 380px;
    height: 330px;
    background-color: rgba(88, 16, 183,0.6);
    padding: 0 0 0 25px;
}

.form>h1 {
    text-align: center;
    margin-left: 18px;
}

.form>form {
    margin: 50px 0 0 0;
}
.form > form > div > h6 > a{
    color:#fff;
    margin:0 50px 0 0;
    margin-top:-70px;
    float:right;
    text-decoration-line: none;
}

input {
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}

footer {
    display: flex;
    flex-direction: row;
}

footer>h5 {
    margin-left: 60px;
}

button {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}